.modal-box{
    min-height: 200px;
    background: whitesmoke;
    max-width: 780px;
    width: 50%;
    border-radius: 8px;
    padding: 35px;
}

/* Je veux que field.has-addons soit tout au largeur de modal b */
.field.has-addons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 3px;
}

